*{
    margin: 0;
    padding: 0;
}
/* h1{
    background-color: aqua;
}
p{
    background-color: blueviolet;
} */
 /* Child Selector */
div > p {
    background-color: yellow;
    color: red;
}
/* Descendant Selector */
div p {
    background-color: green;
    color: white;
}
/* pseudo selector */
a:visited {
    color: rgb(228, 35, 35);
}
a:active{
   background-color: aqua;
}
a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(233, 224, 224);
}